{{!-- Navbar --}}
<BsNavbar class="main-header navbar-cyan" @backgroundColor={{undefined}} @collapsed={{false}} @toggleBreakpoint={{null}}
  @type="dark" as |navbar|>

  <navbar.nav as |nav|>
    <nav.item>
      <a class="nav-link" data-widget="pushmenu" href="#">
        <FaIcon @icon="bars" />
      </a>
    </nav.item>
    <nav.item>
      <nav.linkTo @route="index" class="d-none d-sm-inline-block">Home</nav.linkTo>
    </nav.item>
    <nav.item>
      <nav.linkTo @route="index" class="d-none d-sm-inline-block">Contact</nav.linkTo>
    </nav.item>
  </navbar.nav>

  {{!-- SEARCH FORM --}}
  <form class="form-inline ml-3">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <FaIcon @icon="search" />
        </button>
      </div>
    </div>
  </form>

  {{!-- Right navbar links --}}
  <navbar.nav class="ml-auto" as |right-nav|>

    {{!-- Messages Dropdown Menu --}}
    <right-nav.dropdown as |messages-dropdown|>
      <messages-dropdown.toggle class="caret-off">
        <FaIcon @icon="comments" @prefix="far" />
        <span class="badge badge-danger navbar-badge">3</span>
      </messages-dropdown.toggle>
      <messages-dropdown.menu as |ddm|>
        <ddm.item>
          <ddm.linkTo @route="index">Foo</ddm.linkTo>
        </ddm.item>
        <ddm.item>
          <ddm.linkTo @route="index">Bar</ddm.linkTo>
        </ddm.item>
      </messages-dropdown.menu>
    </right-nav.dropdown>

    {{!-- Notifications Dropdown Menu --}}
    <right-nav.dropdown as |notifications-dropdown|>
      <notifications-dropdown.toggle class="caret-off">
        <FaIcon @icon="bell" @prefix="far" />
        <span class="badge badge-warning navbar-badge">15</span>
      </notifications-dropdown.toggle>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">15 Notifications</span>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          {{!-- <i class="fas fa-envelope mr-2"></i> 4 new messages --}}
          <FaIcon @icon="envelope" /> 4 new messages
          <span class="float-right text-muted text-sm">3 mins</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-users mr-2"></i> 8 friend requests
          <span class="float-right text-muted text-sm">12 hours</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-file mr-2"></i> 3 new reports
          <span class="float-right text-muted text-sm">2 days</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
      </div>
    </right-nav.dropdown>

    <li class="nav-item">
      <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
        <i class="fas fa-th-large"></i>
      </a>
    </li>

  </navbar.nav>

</BsNavbar>
