<form>
  <div class="input-group mb-3">
    <Input id="registration-form-input-username"
      class="form-control {{if changeset.error.username "is-invalid"}} {{if (and (not changeset.error.username) (not (is-empty changeset.change.username))) "is-valid"}}"
      placeholder="Nom d'utilisateur *" @value={{changeset.username}} />
    <div class="input-group-append">
      <div class="input-group-text">
        <FaIcon @icon="user" />
      </div>
    </div>
    {{#if changeset.error.username}}
      <div class="invalid-feedback">
        {{t (concat "register." changeset.error.username.validation ".username")}}
      </div>
    {{/if}}
  </div>
  <div class="input-group mb-3">
    <Input type="email" class="form-control {{if changeset.error.email "is-invalid"}}" placeholder="Email"
      @value={{changeset.email}} />
    <div class="input-group-append">
      <div class="input-group-text">
        <FaIcon @icon="envelope" />
      </div>
    </div>
    <div class="invalid-feedback">
      Veuillez saisir un email valide
    </div>
  </div>
  <div class="input-group mb-3">
    <Input type="password" id="registration-form-input-password"
      class="form-control {{if changeset.error.password "is-invalid"}} {{if (and (not changeset.error.password) (not (is-empty changeset.change.password))) "is-valid"}}"
      placeholder="Mot de passe *" @key-up={{action "erasePasswordConfirmation"}} @value={{changeset.password}} />
    <div class="input-group-append">
      <div class="input-group-text">
        <FaIcon @icon="lock" />
      </div>
    </div>
    <div class="invalid-feedback">
      Le mot de passe doit être au moins de 8 charactères
    </div>
  </div>
  <div class="input-group mb-3">
    <Input type="password" id="registration-form-input-passwordConfirmation"
      class="form-control {{if changeset.error.passwordConfirmation "is-invalid"}} {{if (and (not changeset.error.passwordConfirmation) (not (is-empty changeset.change.passwordConfirmation))) "is-valid"}}"
      placeholder="Retaper votre mot de passe *" @value={{changeset.passwordConfirmation}} />
    <div class=" input-group-append">
      <div class="input-group-text">
        <FaIcon @icon="lock" />
      </div>
    </div>
    <div class="invalid-feedback">
      Le mot de passe doit être identique.
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <div class="icheck-primary">
        <input type="checkbox" id="agreeTerms" name="terms" value="agree" disabled>
        <label for="agreeTerms">
          J'accepte
          <a class="btn-link disabled" href="#" aria-disabled="true">les conditions </a>
        </label>
      </div>
    </div>
    <div class="col-5">
      <button id="registration-form-submit" type="submit"
        class="btn btn-primary btn-block btn-flat {{if isRegisterButtonDisabled "disabled"}}"
        disabled={{this.isRegisterButtonDisabled}} {{action onRegister changeset}}>
        S'inscrire
      </button>
    </div>
  </div>
</form>
