@import "ember-bootstrap/bootstrap";
@import "adminlte";
@import "sweetalert2-theme-bootstrap-4/bootstrap-4.min";

#admin-lte-logo {
    opacity: 0.8;
}

.caret-off::before {
    display: none;
}
.caret-off::after {
    display: none;
}

.nav-sidebar .menu-open > .nav-treeview {
    max-height: 300px;
    transition: max-height .3s ease-in-out;
}

.nav-sidebar .nav-treeview {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}

@import "ember-power-select/themes/bootstrap";

@import "ember-power-select";
