{{outlet}}

{{!-- Site wrapper --}}
{{!-- <div class="wrapper"> --}}
{{!-- <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.0.0-beta.2
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
    reserved.
  </footer> --}}
{{!-- </div> --}}
{{!-- ./wrapper --}}
