<div class="register-box">
  <div class="register-logo">
    <LinkTo @route="index"><b>{{t "application.name"}}</b><br>{{t "application.slogan"}}</LinkTo>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Nouvelle inscription</p>
      <RegistrationForm @onRegister={{action (perform register)}} />
      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary disabled" aria-disabled="true">
          <i class="fab fa-facebook mr-2"></i>
          Sign up using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger disabled" aria-disabled="true">
          <i class="fab fa-google-plus mr-2"></i>
          Sign up using Google+
        </a>
      </div>

      <LinkTo @route="login" class="text-center">{{t "register.already-member"}}</LinkTo>
    </div>
    {{#if register.isRunning}}
      <div class="overlay">
        <LoadingSpinner @size="4x" />
      </div>
    {{/if}}
  </div>{{!-- /.card --}}
</div>
{{!-- /.register-box --}}
